<div class="footer">
    <div class="container border">
        <div class="row">
            <div class="col">
                <a href="https://github.com/LiquidEngine/legui">LEGUI</a> is maintained by <a href="https://github.com/LiquidEngine">Liquid Engine</a>
            </div>
        </div>
        <div class="row small text-muted">
            <div class="col">
                Made by<a href="mailto:shchalexander@gmail.com"> Alexander Shcherbin</a>
            </div>
        </div>
    </div>
</div>
