<div class="footer">
    <div class="container border">
        <table class="main maintained">
            <tbody>
                <tr>
                    <td class="align-middle">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="https://github.com/LiquidEngine/legui">LEGUI</a> is maintained by <a href="https://github.com/LiquidEngine">Liquid Engine</a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small text-muted ">
                            Made by<a href="mailto:shchalexander@gmail.com"> Alexander Shcherbin</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>