<div class="navigation">
    <div class="container">
        <table class="main maintained">
            <tbody>
                <tr>
                    <td class="align-middle">
                        <ul class="nav nav-inline">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="examples.html">Examples</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="docs.html">Documentation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="authors.html">Authors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  disabled" href="contributors.html">Contributors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.html#s_c">Support or Contact</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="https://github.com/LiquidEngine/legui/zipball/master">Download sources as ZIP</a>
                                        <a class="dropdown-item" href="https://github.com/LiquidEngine/legui/tarball/master">Download sources as TAR.GZ</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>